/* le dimensioni si applicano a tutte le parti del documento */
* {
	box-sizing:border-box;
}

/* ----------------------------------------------------------------TITOLO E BARRA NAVIGAZIONE-----------*/

/* titolo */
h1 {
    font-family: 'roboto slab', serif;
    font-size: 45px;
    color: white;
}

h2 {
	text-align: center;
}

/*Posizione titolo*/
.page_title {
    position: absolute;
    top: 13%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 100%
    background-color:#00579c;    
}

.container_title {
    position: absolute;
}

.nav_bar {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	text-align: right;
	padding: 16px;
	background-color:#00579c; 

}

.nav_bar a {
	color: white;
	text-decoration:none;
	padding: 16px;
}

.nav_bar a:hover {
	background-color:#003d6e; 
}

.nav_bar .icon {
  display: none;
  padding:0;
  margin-top: -4px;

}
/* Barra di navigazione scompare, rimane solo icona */
@media screen and (max-width: 970px) {/* L'azione avviene arrivati a tale dimensione */
  .nav_bar a:not(:first-child) {display: none;}/* la barra non si vede(devo cliccare)| Spazio tra elementi */
  .nav_bar a.icon {
    float: right;
    display: block;
  }
}

/* La classe "responsive" viene aggiunta al topnav con JavaScript 
quando l'utente fa clic sull'icona (visualizza i collegamenti verticalmente 
anziché orizzontalmente)
*/
@media screen and (max-width: 970px) {
  .nav_bar.responsive {position: relative; }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav_bar.responsive a {/* elementi barra*/
    float: none;
    display: block;/* Visualizza elementi barra */
    text-align: left;
  }
}

/* -----------------------------------------------------------FINE TITOLO E BARRA NAVIGAZIONE-----------*/

/* corpo del documento */
body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: 'Open Sans', sans-serif; /* MEGLIO USARE SANS-SERIF */
}

p {
  text-align: justify;
}

/* --------------------------------------------------------------------------------GALLERIA------ */

/* Crea quattro colonne uguali posizionate l'una accanto all'altra */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.column img {
    margin-top: 10px;
    width: 100%;
}

.row:after {
    content: "";/* "cancella il float" e lascia uno spazio tra gli elementi */
    display: table;/* Lascia che l'elemento si comporti come un elemento <table> */
    clear: both;/* Nessun elemento consentito sul lato sinistro o destro */
}

/* Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;/*La proprietà z-index specifica l'ordine di stack di un elemento.in patica lo slideshow sovrasta la pagina sottostante = passa in primo piano*/
  padding-top: 65px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* contenuto di modal */
.modal-content {
  position: relative;
  background-color: #000000;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* bottone di chiusura */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 45px;
  font-weight: bold;
}

/* bottone di chiusura */
.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

/* nascondi le immagini ingrandite di default */
.mySlides {
  display: none;
}

/* quando si entra nel modal cambia il puntatore */
.cursor {
  cursor: pointer
}

/* bottone di avanti/indietro */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;/* Il testo non è selezionabile */
  -webkit-user-select: none;
}

/* bottone avanti posto a destra */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* quando si passa il mouse sopra i bottoni compare un contorno nero leggermente trasparente */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* "contatore" immagini */
.numbertext {
  color: #f2f2f2;
  background-color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* testo didascalia */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
  font-size: 20px;
}

.container{
  background-color: #00579c;
  padding: 3px; 
  border-radius: 5px;   
}

/* ----------------------------------------------------------------- FOOTER ------- */

.footer_whole{
	margin:auto;
	padding:10px;
	max-width:1000px;
}
/* impostazioni di testo "INFORMAZIONI" in footer */
h4{
	text-align:center;
}
/* impostazioni footer_index*/
.footer_index{
	text-align: center;
}
/* stile testo elementi in footer_index */
.footer_index a{
	color: black;
	text-decoration: none;

}
/* stile testo footer */
p.footer-page{
	text-align: center;
}

.footer_content {
	text-align: center;
}

.footer_content a {

}

/* impostazioni per icone FONT AWESOME social in footer */
.fa {
	padding: 15px;
	margin-top: 4px;
	width: 200px;
	text-align: center;
	text-decoration: none;
}
.fa:hover {
	opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.fa-instagram {
	background: #125688;
	color: white;
}
